.input-item {
  width: 10rem;
  height: 4rem;
  border-radius: 4rem;
  border: 2px solid rgb(143, 143, 143);
  box-sizing: border-box;
  outline: none;
  padding: 0 1rem;
  font-size: 2rem;
  color: rgb(109, 109, 109);
  text-align: right;
}