.all-clear-button {
  width: 9rem;
  height: 3.5rem;
  border-radius: 3.5rem;
  background-color: rgb(89, 150, 208);
  border: 2px solid rgb(54, 72, 88);
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  outline: none;
}