.screen {
  width: 20rem;
  height: 4rem;
  background-color: rgb(244, 244, 244);
  border: 2px solid rgb(179, 179, 179);
  border-radius: 2rem;
  margin: 1rem 0;
  padding: 0 1rem;
  box-sizing: border-box;
  color: rgb(103, 103, 103);
  font-size: 2rem;
  text-align: right;
}