.cal-body {
  width: 20rem;
  height: 20rem;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(254, 250, 243);
  border: 3px solid rgb(130, 130, 130);
  border-radius: 20%;
  .input-container {
    .flex-between();
  }
}
.flex-between {
  display: flex;
  justify-content: space-between;
}