.operator-button {
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  background-color: rgb(236, 159, 83);
  color: white;
  outline: none;
  font-size: 2rem;
  border: 2px solid rgb(80, 80, 80);
  box-sizing: border-box;
}